<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>INU X Likelion</title>
    {% load static %}
    <link rel ="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    
    <!-- font -->

    <!-- js -->
    <script type="text/javascript" src="javascripts/scrolld.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <script src="https://use.fontawesome.com/0a51066710.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
